@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: helvetica;  
}

main {
    background-color: #B3DEEE;
    padding: 25px 200px;
}

header {
    background-color: #305B6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

header p {
    border: 2px solid #50646B;
    border-radius: 10px;
    font-size: 40px;
    color: #305B6B;
    padding: 15px;
    background-color: #B3DEEE;
}

footer {
    height: 100px;
    background-color: #305B6B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
}

#logo {
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin: 0 auto;
    padding: 50px 0
}

#learn {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
    padding: 25px 0
}

#cat {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    padding: 25px 0
}

code {
    font-family: 'Source Code Pro', monospace;
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
    border-radius: 5px;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
}

pre {
    padding-left: 100px;
}

div {
    border: 3px solid #305B6B;
    border-radius: 10px;
    margin: 50px 0;
    padding: 30px 50px;
}

h2:first-child {
    text-align: center;
    padding-bottom: 20px;
    color: #305B6B;
}